.author {
    background: #2c3e50;
    width: 500px;
    height: 70px;
    border-radius: 5px 10px 0px 0px;
    color: aliceblue;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}