@import url(home.css);
@import url(view_img.css);
@import url(footer.css);
@import url(perfil.css);

body {
    background: #F5F7F6;
    margin: 0px;
    padding: 0px;
}
body a {
    color: #47C6B3;
    text-decoration: none;
}
.header {
    background: #2c3e50;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.header_logo {
    width: 230px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_logo a {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}
.header_nav {
    width: 410px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_nav ul {
    display: flex;
    list-style: none;
}
.header_nav ul li {
    box-sizing: border-box;
    padding: 15px;
}
.header_nav ul li:hover {
    background: #44bd32;
}
.header_nav a {
    color: #ffffff;
    font-weight: bold;
}
.header_menu {
    width: 80%;
    height: 50px;
    border-bottom: 4px solid #2c3e50;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_input {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_input input {
    width: 370px;
    height: 35px;
    padding: 10px;
    border: 1px solid #2c3e50;;
    border-radius: 5px;
    outline: none;
}
.header_input button {
    background: none;
    margin-left: -40px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.user_info {
    width: 410px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user_data {
    width: 410px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user_data img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 8px;
    border-radius: 100%;
}
.user_data a {
    color: #2c3e50;
    font-weight: bold;
    margin-right: 15px;
}
.container {
    width: 80%;
    margin: auto;
    margin-top: 25px;
    border: 2px solid #2c3e50;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    row-gap: 20px;
}
.fotos {
    width: 100%;
}